{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {{ utils.flashed_messages(messages, container=False, dismissible=True) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <h2>Company Lookup Demo</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <form method="post">

                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.single_company) }}
                    {{ wtf.form_field(form.multiple_company) }}
                    {{ wtf.form_field(form.single_company_allow_blank) }}

                    <div class="btn-toolbar pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
{%- endblock %}
